<p>
  <b>Game:</b>
  <%=h @statistic.game_id %>
</p>

<p>
  <b>Lineup order:</b>
  <%=h @statistic.lineup_order %>
</p>

<p>
  <b>Last name:</b>
  <%=h @statistic.last_name %>
</p>

<p>
  <b>First name:</b>
  <%=h @statistic.first_name %>
</p>

<p>
  <b>Game:</b>
  <%=h @statistic.game %>
</p>

<p>
  <b>At bats:</b>
  <%=h @statistic.at_bats %>
</p>

<p>
  <b>Hits:</b>
  <%=h @statistic.hits %>
</p>

<p>
  <b>Singles:</b>
  <%=h @statistic.singles %>
</p>

<p>
  <b>Doubles:</b>
  <%=h @statistic.doubles %>
</p>

<p>
  <b>Triples:</b>
  <%=h @statistic.triples %>
</p>

<p>
  <b>Home runs:</b>
  <%=h @statistic.home_runs %>
</p>

<p>
  <b>Walks:</b>
  <%=h @statistic.walks %>
</p>

<p>
  <b>Runs:</b>
  <%=h @statistic.runs %>
</p>

<p>
  <b>Rbi:</b>
  <%=h @statistic.rbi %>
</p>

<p>
  <b>Batting average:</b>
  <%=h @statistic.batting_average %>
</p>

<p>
  <b>On base percentage:</b>
  <%=h @statistic.on_base_percentage %>
</p>


<%= link_to 'Edit', edit_statistic_path(@statistic) %> |
<%= link_to 'Back', statistics_path %>
